.u-margin-top-medium {margin-top: 4rem;}
.u-margin-top-small {margin-top: 2rem;}





/* -- Shabllone per te gjitha faqet -- */

.section-padding {
    padding: 60px 0;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 24px;
    line-height: 36px;
    color: #4d4d4d;
    font-weight: 700;
    position: relative;
}

.section-title p {
    font-size: 14px;
    color: #666666;
    margin: 15px auto 60px auto;
}

.section-background {
    position: relative;
}

.section-background:before {
    background-color: #3498db;
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}
.section-title h2 span {
    color: #3498DB;
}
.center-all{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- Service -- */

.service-bg {
    background: #FAFAFA;
}

.single-service-box {
    margin-bottom: 35px;
    overflow: hidden;
}

.single-service-box i {
    font-size: 28px;
    height: 50px;
    width: 50px;
    margin: 3px;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    color: #3C3C3C;
    border: 1px solid #3C3C3C;
    float: left;
    margin-right: 25px;
}

.single-service-box h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #4D4D4D;
    font-weight: 500;
}

.single-service-box h5 {
    color: #777777;
    margin-top: 10px;
    font-size: 10px;
}

.single-service-box p {
    margin-top: 22px;
    color: #666666;
}

.single-service-box:hover i {
    color: #fff;
    border: 1px solid #3498DB;
    background: #3498db;
}

.single-service-box:hover h2 {
    color: #3498DB;
}

